<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>Contatos</title>
  </head>

  <body>
    <div id="app">
      <v-app id="inspire">
        <v-data-table
          :headers="headers"
          :items="contact"
          phone="telefone"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar flat>
              <v-toolbar-title>Contatos</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    fab
                    dark
                    big
                    color="pink lighten-1"
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="resetForm()"
                  >
                    <v-icon dark> mdi-plus </v-icon>
                  </v-btn>
                </template>

                <!------Modal incluir e editar  ------>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            ref="name"
                            v-model="editedItem.name"
                            :error-messages="errorMessages"
                            :rules="[() => !!editedItem.name || 'Campo obrigatório', isNameInvalid]"
                            label="Nome"
                            required
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            ref="phone"
                            v-model="editedItem.phone"
                            v-mask="'(##) #####-####'"
                            :rules="[() => !!editedItem.phone || 'Campo obrigatório',()=> !!editedItem.phone && editedItem.phone.length == 15 || 'Numero de phone invalido' ]"
                            label="telefone"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink lighten-1" text @click="close">
                      Cancelar
                    </v-btn>
                    <v-btn color="pink lighten-1" text @click="save">
                      Salvar
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!---- Modal mensagem de cancelamento  ----->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5"
                    >Deseja realmente excluir este contato?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="pink lighten-1" text @click="closeDelete"
                      >Não</v-btn
                    >
                    <v-btn
                      color="pink lighten-1"
                      text
                      @click="deleteItemConfirm"
                      >Sim</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <---Botões de Ação--->
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
          </template>
          <template v-slot:no-data>
            <v-btn color="pink lighten-1" @click="initialize"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <script>
      Vue.use(VueMask.VueMaskPlugin);
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
          dialog: false,
          dialogDelete: false,
          errorMessages: "",
          formHasErrors: false,
          headers: [
            {
              text: "Nome ",
              align: "start",
              sortable: false,
              value: "name",
            },
            { text: "Telefone", value: "phone", sortable: false },
            { text: " ", value: "actions", sortable: false },
          ],
          contact: [],
          editedIndex: -1,
          editedItem: {
            name: null,
            phone: null,
          },
          defaultItem: {
            name: null,
            phone: null,
          },
        }),

        computed: {
          formTitle() {
            return this.editedIndex === -1 ? "Novo contato" : "Editar contato";
          },
          form() {
            return {
              name: this.editedItem.name,
              phone: this.editedItem.phone,
            };
          },
        },

        watch: {
          name() {
            this.errorMessages = "";
          },
          dialog(val) {
            val || this.close();
          },
          dialogDelete(val) {
            val || this.closeDelete();
          },
        },

        created() {
          this.initialize();
        },

        methods: {
          initialize() {
            this.contact = [
              {
                name: "Wagner Lucas",
                phone: "(13)99115-2536",
              },
              {
                name: "Renato Oliveira",
                phone: "(11)99015-2136",
              },
              {
                name: "Marcela Alves",
                phone: "(13)97155-1536",
              },
              {
                name: "Luciana Alves",
                phone: "(13)94125-1534",
              },
            ];
          },
          isNameInvalid() {
            const hasSpacer =
              this.form.name && this.form.name.indexOf(" ") >= 0;
            const splittedName = this.form.name && this.form.name.split(" ");
            const isValid =
              splittedName &&
              splittedName[0] &&
              splittedName[0].length >= 3 &&
              splittedName[1] &&
              splittedName[1].length >= 3;

            if (!isValid) {
              this.errorMessages =
                this.form.name &&
                "Nome inválido (o nome deve conter nome e sobrenome com no mínimo 3 caracteres cada)";
            } else {
              this.errorMessages = "";
            }

            return true;
          },

          editItem(item) {
            this.editedIndex = this.contact.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialog = true;
          },

          deleteItem(item) {
            this.editedIndex = this.contact.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.dialogDelete = true;
          },

          deleteItemConfirm() {
            this.contact.splice(this.editedIndex, 1);
            this.closeDelete();
          },

          close() {
            this.dialog = false;
            this.$nextTick(() => {
              this.editedItem = Object.assign({}, this.defaultItem);
              this.editedIndex = -1;
            });
          },

          closeDelete() {
            this.dialogDelete = false;
            this.$nextTick(() => {
              this.editedItem = Object.assign({}, this.defaultItem);
              this.editedIndex = -1;
            });
          },
          resetForm() {
            this.errorMessages = [];
            this.formHasErrors = false;

            Object.keys(this.form).forEach((f) => {
              this.$refs[f].reset();
            });
          },

          save() {
            this.formHasErrors = false;
            Object.keys(this.form).forEach((form) => {
              const ddd = this.form.phone.slice(1, 3);
              console.log(ddd);
              if (ddd == "11") {
                let elHtml = document.getElementsByClassName("elevation-1")[0];
                elHtml.style.backgroundColor = "blue";
              } else {
                console.log("não passou");
              }
              if (!this.form[form]) this.formHasErrors = true;
              this.$refs[form].validate(true);
              if (!this.form[form].valid) {
                this.formHasErrors = true;
              } else {
                this.formHasErrors = false;
              }
            });

            if (
              this.$refs["name"].valid &&
              this.$refs["phone"].valid &&
              this.errorMessages == ""
            ) {
              if (this.editedIndex > -1) {
                Object.assign(this.contact[this.editedIndex], this.editedItem);
              } else {
                this.contact.push(this.editedItem);
              }
              this.close();
            }
          },
        },
      });
    </script>
  </body>
</html>
